@model Dashboard
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @if (User.Identity.IsAuthenticated) 
    {
        <h3><a class="nav-link" asp-area="" asp-controller="Books" asp-action="Index">Books</a></h3>
    }
    else
    {
        <h3>Login to browse books</h3>
    }

    <p><strong>@Model.TotalBooks</strong> books in db</p>
    <p><strong>@Model.TotalAuthors</strong> authors in db</p>
    <p><strong>@Model.TotalBooksWithReviews</strong> books with reviews in db,</p>
    <p>summing up <strong>@Model.TotalReviews</strong> reviews</p>
    
    <p><strong>@Model.AvgBookPrice.ToString("##.##")</strong> - average book price</p>

    <p>Book -> Author M-M</p>
    <p>Book -> Review 1-M</p>
    <p>Book -> Promotion 1-1</p>

</div>
